langchain
openai
tabulate
python-environ
notebook
kaggle
yt_dlp
ffmpeg
tiktoken
lark
pydub  # Load text with Whisper from videos
pytube  # Get videos from playlist video
streamlit
pydantic # https://github.com/hwchase17/langchain/issues/7548
python-dotenv
doctran
# Vector DB
pinecone-client
chromadb
clickhouse-connect  # MyScale

# Confluence
atlassian-python-api
lxml
markdownify
